!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    - unless description.blank?
      %meta(name="description" content="#{description}")
    - unless keywords.nil? || keywords.empty?
      %meta(name="keywords" content="#{keywords}")
    %meta(name="Author" content="Sanna Rehfeld")
    %meta(name="Copyright" content="focus fengshui, Sanna Rehfeld")

    %title= 'focus fengshui' << (@item[:title].blank? ? '' : " - #{@item[:title]}")

    %link(rel="stylesheet" href="/stylesheets/site.css" type="text/css")
    /[if lte IE 9]
      %link(rel="stylesheet" href="css/ie.css" type="text/css" media="screen")
    %link(rel="stylesheet" href="/stylesheets/mobile.css" type="text/css" media="handheld, only screen and (max-width: 767px)")
    %link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")

    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(type="text/javascript" src="/javascripts/site.js")

  %body
    #container
      %header
        %h1.site-title focus fengshui
        %h2.site-subtitle Beratung und Raumgestaltung Sanna Rehfeld
      #main
        %section.menu
          %nav
            = menu_item 'Feng Shui', '/feng-shui/'
            =   menu_item 'Geschichte', '/feng-shui/geschichte/'
            =   menu_item 'Grundlagen', '/feng-shui/grundlagen/'
            = menu_item 'Beratung', '/beratung/'
            =   menu_item 'Wohnräume', '/beratung/wohnraeume/'
            =   menu_item 'Gärten', '/beratung/gaerten/'
            =   menu_item 'Business Feng Shui', '/beratung/business-feng-shui/'
            =   menu_item 'Stil und Budget', '/beratung/stil-und-budget/'
            =   menu_item 'focus', '/beratung/focus/'
            =   menu_item 'Ablauf', '/beratung/ablauf/'
            =   menu_item 'Preise', '/beratung/preise/'
            = menu_item 'Sanna Rehfeld', '/sanna-rehfeld/'

        %section.content
          = yield

        %section.sidebar
          = @item[:content_for_sidebar]

        %footer
          .spacer
          .site-info
            %p
              %span.copyright &copy; 2011 focus fengshui
              |
            %nav.site
              = link_to 'Home', '/'
              |
              = link_to 'Kontakt', '/kontakt/'
              |
              = link_to 'Impressum', '/impressum/'
