!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    - unless description.blank?
      %meta(name="description" content="#{description}")
    - unless keywords.nil? || keywords.empty?
      %meta(name="keywords" content="#{keywords}")
    %meta(name="Author" content="Sanna Rehfeld")
    %meta(name="Copyright" content="focus fengshui, Sanna Rehfeld")

    %title= 'focus fengshui' << (@item[:title].blank? ? '' : " - #{@item[:title]}")

    %link(rel="stylesheet" href="/stylesheets/site.css" type="text/css")
    /[if lte IE 9]
      %link(rel="stylesheet" href="css/ie.css" type="text/css" media="screen")
    %link(rel="stylesheet" href="/stylesheets/mobile.css" type="text/css" media="handheld, only screen and (max-width: 767px)")
    %link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")

  %body
    #container
      #main
        = yield
