= menu_item 'Aktuelles', '/aktuelles/'
= menu_item 'Beratung', '/beratung/'
=   menu_item 'Wohnräume', '/beratung/wohnraeume/'
=   menu_item 'Gärten', '/beratung/gaerten/'
=   menu_item 'Business Feng Shui', '/beratung/business-feng-shui/'
=   menu_item 'Stil und Budget', '/beratung/stil-und-budget/'
=   menu_item 'focus', '/beratung/focus/'
=   menu_item 'Ablauf', '/beratung/ablauf/'
=   menu_item 'Preise', '/beratung/preise/'
= menu_item 'Feng Shui', '/feng-shui/'
= menu_item 'Sanna Rehfeld', '/sanna-rehfeld/'

%a(href="http://www.fengshui-verband.eu/" title="Mitglied im Berufsverband für Feng Shui und Geomantie e.V.")
  %img.banner(src="/images/feng-shui-verband-banner.gif")
